/* Error: Undefined variable.
 *    ,
 * 21 |     @media screen and (min-width: $L) {
 *    |                                   ^^
 *    '
 *   src/scss/style.scss 21:35  MQ()
 *   src/scss/style.scss 145:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 21 \2502      @media screen and (min-width: $L) {\a    \2502                                    ^^\a    \2575 \a   src/scss/style.scss 21:35  MQ()\a   src/scss/style.scss 145:3  root stylesheet";
}
